<div class="input-group">
  <ng-content select="[prepend]"></ng-content>

  <label [attr.for]="id" class="sr-only">{{ label }}</label>

  <input
    [formControl]="control"
    [class.is-invalid]="control.invalid && this.showValidation"
    [attr.id]="id"
    [attr.name]="id"
    [attr.placeholder]="placeholder || label"
    class="form-control"
    [type]="type"
  />

  <ng-content select="[append]"></ng-content>

  <div class="invalid-feedback">
    Please provide a valid {{ label | lowercase }}
  </div>
</div>
