<header
  class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 border-bottom shadow-sm"
>
  <div class="my-0 mr-md-auto font-weight-bold text-light">
    <img class="logo mb-0" src="/assets/logo.png" alt="Buddy Up" />
  </div>

  <nav class="my-2 my-md-0 mr-md-3">
    <a href="#" class="p-2 text-light">Home</a>
    <a href="#" class="p-2 text-light">About</a>
    <a href="#" class="p-2 text-light">FAQ</a>
    <a href="#" class="p-2 text-light">Safety</a>
    <a href="#" class="p-2 text-light">Contact</a>
  </nav>
  <a class="btn btn-outline-light" href="#">Sign up</a>
</header>
