<div class="container py-5">
  <h1>Find a group</h1>

  <p>...</p>
</div>

<div class="bg-light">
  <div class="container py-5">
    <h2 class="mb-3">Available groups</h2>

    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>When</th>
          <th>Pace</th>
          <th>Distance</th>
          <th>Where</th>
          <th>Who</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tuesday</td>
          <td>7:45-8 min/mile</td>
          <td>10K</td>
          <td>Lidl, Newtown Road</td>
          <td>Paul Evans</td>
        </tr>
        <tr>
          <td>Wednesday</td>
          <td>11:30-12 min/mile</td>
          <td>5 miles</td>
          <td>Perdiswell Leisure Centre</td>
          <td>Jo Evans</td>
        </tr>
        <tr>
          <td>Thursday</td>
          <td>7:45-8 min/mile</td>
          <td>10K</td>
          <td>Lidl, Newtown Road</td>
          <td>Paul Evans</td>
        </tr>
        <tr>
          <td>Saturday</td>
          <td>11:30-12 min/mile</td>
          <td>5 miles</td>
          <td>Perdiswell Leisure Centre</td>
          <td>Jo Evans</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
