<ng-container *ngIf="loadingState === 'LOADED'">
  <div [formGroup]="form">
    <div class="container py-5">
      <h1 class="mb-3">Your profile</h1>

      <p>Tell us a little about you so we can help you find a buddy...</p>

      <div *ngIf="error" class="mt-5 alert alert-danger">
        <strong class="d-block mb-2 h4">Sorry, there was a problem</strong>
        Please review the form and try again.
      </div>
    </div>

    <div class="bg-light">
      <div class="container py-5">
        <h2 class="h3 mb-3 font-weight-normal">Personal details</h2>

        <div class="form-row mb-2">
          <div class="col">
            <app-form-input
              id="firstName"
              label="First name"
              [control]="form.controls.firstName"
              [showValidation]="showValidation"
            ></app-form-input>
          </div>

          <div class="col">
            <app-form-input
              id="lastName"
              label="Last name"
              [control]="form.controls.lastName"
              [showValidation]="showValidation"
            ></app-form-input>
          </div>
        </div>

        <app-form-input
          id="email"
          label="Email address"
          type="email"
          [control]="form.controls.email"
          [showValidation]="showValidation"
          class="mb-2"
        ></app-form-input>

        <app-club-picker [control]="form.controls.club"></app-club-picker>

        <div class="form-row">
          <div class="col">
            <div
              class="btn-group btn-group-toggle btn-block mb-4"
              ngbRadioGroup
              name="gender"
              formControlName="gender"
            >
              <label ngbButtonLabel class="btn-secondary">
                <input ngbButton type="radio" value="M" /> Male
              </label>
              <label ngbButtonLabel class="btn-secondary">
                <input ngbButton type="radio" value="W" /> Female
              </label>
            </div>
          </div>

          <div class="col">
            <app-date-picker
              [control]="form.controls.dateOfBirth"
              [showValidation]="showValidation"
              label="Date of birth"
              id="dateOfBirth"
            ></app-date-picker>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-dark">
      <div class="container py-5">
        <h2 class="h3 mb-3 font-weight-normal text-light">Location</h2>

        <p class="text-light">
          Let us know your preferred location where you'd like to start your
          activities.
        </p>

        <app-location-picker
          [control]="form.get('preferences.location')"
        ></app-location-picker>
      </div>
    </div>

    <div class="bg-light" formGroupName="preferences">
      <div class="container py-5" formGroupName="pace">
        <h2 class="h3 mb-3 font-weight-normal">Preferred pace</h2>

        <p>
          We'll use this to find suitable buddies for you and as the default if
          you list any groups.
        </p>

        <app-pace-selector
          label="Fastest pace"
          [pace]="form.get('preferences.pace.from').value"
          (paceChange)="form.get('preferences.pace.from').patchValue($event)"
        ></app-pace-selector>

        <app-pace-selector
          label="Slowest pace"
          [pace]="form.get('preferences.pace.to').value"
          (paceChange)="form.get('preferences.pace.to').patchValue($event)"
        ></app-pace-selector>
      </div>
    </div>

    <div class="container py-5" formGroupName="preferences">
      <h2 class="h3 mb-3 font-weight-normal">Alerts</h2>

      <div class="custom-control custom-switch">
        <input
          type="checkbox"
          class="custom-control-input"
          id="customCheck1"
          formControlName="alerts"
        />
        <label class="custom-control-label" for="customCheck1"
          >Tell me when there's a suitable group added</label
        >
      </div>

      <div class="form-row" *ngIf="form.get('preferences.alerts').value">
        <div class="col-auto">
          <h3 class="h5 mt-3">Within</h3>
          <app-form-input
            id="radius"
            label="Radius"
            type="number"
            [control]="form.get('preferences.radius')"
            [showValidation]="showValidation"
            placeholder="Enter number..."
            class="mb-2"
          >
            <div append class="input-group-append">
              <div class="input-group-text">miles</div>
            </div>
          </app-form-input>
        </div>
      </div>

      <div class="text-center">
        <button class="btn btn-lg btn-primary mt-5" (click)="onSaveProfile()">
          Save and continue
        </button>
      </div>
    </div>
  </div>
</ng-container>
