/* You can add global styles to this file, and also import other style files */

$primary: #fcca46;
$body-bg: #fff;

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

.table {
  overflow: hidden;
  border-radius: 5px;
}

a {
  font-weight: bold;
  text-decoration: underline;
}
